/.vscode
/credential.json
/device.json
/my_cache.bin
/sp.json
/user.json
/tony.json
/serverlesspl-js.py
/my-safe-ws.txt
safe-flag-ws.txt
/links docs
/file-volume.py
/my-resource-groups
/serverlesspl-staging.py
/staging.json
/tt
/.databrickscfg
/images

